[submodule "pybind11"]
    path = third_party/pybind11
    url = https://github.com/pybind/pybind11.git
[submodule "eigen"]
    path = third_party/eigen
    url = https://gitlab.com/libeigen/eigen.git
[submodule "dlpack"]
    path = third_party/dlpack
    url = https://github.com/dmlc/dlpack.git
[submodule "googletest"]
    path = third_party/googletest
    url = https://github.com/google/googletest.git
[submodule "imgui"]
    path = third_party/imgui
    url = https://github.com/ocornut/imgui.git
[submodule "libSGM"]
    path = third_party/libSGM
    url = https://github.com/fixstars/libSGM.git
[submodule "rmm"]
    path = third_party/rmm
    url = https://github.com/rapidsai/rmm.git
[submodule "spdlog"]
    path = third_party/spdlog
    url = https://github.com/gabime/spdlog.git
[submodule "stdgpu"]
    path = third_party/stdgpu
    url = https://github.com/stotko/stdgpu.git
[submodule "tinyobjloader"]
    path = third_party/tinyobjloader
    url = https://github.com/syoyo/tinyobjloader.git
