# Misc
include README.md
include LICENSE.txt
include requirements.txt

# Compiled module
include cupoch/cupoch*.pyd
include cupoch/cupoch*.so

# Stubs
global-include *.pyi

# Exclude
global-exclude *.py[co]