[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
"open3d" = "*"
matplotlib = "*"
torch = "==1.2.0"
wheel = "*"
twine = "*"

[requires]
